################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.db-shm
*.db-wal
*.db
/.vs/qbs/FileContentIndex/6dce3628-1bfe-4ae4-8a29-015c23b3b3db.vsidx
/.vs/qbs/FileContentIndex/719a7b54-2911-4686-832b-4fd9ce4b59b4.vsidx
/.vs/qbs/FileContentIndex/71a0918c-75ec-42dd-918f-161a473c22bd.vsidx
/.vs/qbs/FileContentIndex/8ee65918-cda3-48c0-8094-1d6a8d21c435.vsidx
/.vs/qbs/v17/.wsuo
/build
/out
/include/timestamp.h
/src/ident.cpp
